$primaryColor: #835fa8;
$highlight: #3dd2ae;
$lightestColor: #ffffff;
$lighterColor: #9da5b0;
$lightColor: #f6f7fa;
$grayColor: #696f7c;
$darkColor: #44484f;
$darkerColor: #2b303b;
$darkestColor: #1a2124;
